<a href="https://colab.research.google.com/github/PRITESHDAYAT/Priteshfiledemo/blob/main/numberic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arithmetic operations on numberic values and veriables

In [ ]:
# Addition
1+2

3

In [ ]:
a = 3 + 4

In [ ]:
a

7

In [ ]:
b = a + 5

In [ ]:
b

12

In [ ]:
c = a + b

In [ ]:
c

19

In [ ]:
c = c + c

In [ ]:
c

38

In [ ]:
d = c + 0.1

In [ ]:
d

38.1

In [ ]:
#subtraction
11-3

8

In [ ]:
#multiplication
11 * 3

33

In [ ]:
#exponentiation
12 ** 3

1728

In [ ]:
#division
11/3

3.6666666666666665

In [ ]:
#floor division
11 // 3

3

In [ ]:
#modulo (remainder
11 % 3

2

we can use the same arithmetic operetors on non-numeric data types To perform certain tasks which may or may not be obvious. This is an example of operator overloading in python. With string, we can use the + and * operator.

In [ ]:
# string concatenation
'hello' + 'world'

'helloworld'

In [ ]:
'Hello' + ' ' + 'world' + '1'

'Hello world1'

In [ ]:
#stirng replication / repetition
'hello, ' * 3

'hello, hello, hello, '

when performaing arithmetic operations on boolean values, python treats true as 1 and false as 0

In [ ]:
True + True

2

In [ ]:
True + False

1

In [ ]:
False + False

0

In [ ]:
True * 3

3

In [ ]:
1 / True

1.0

In [ ]:
1 // True

1

In [ ]:
1 % True

0

In [ ]:
#1 / False

we cannot perform arithmetic operations on none type

In [ ]:
1 + 3 * 4 / 12 - 6

-4.0

In [ ]:
3 ** 4 // 5% 3

1

------------------------------------

let's ask our users for their nume and age

In [ ]:
name = input('what is your name?')
age = input('how old are you?')

what is your name?pritesh
how old are you?26

In [ ]:
name

'pritesh'

In [ ]:
age

'26'

In [ ]:
#printing out a greeting for our user
print('hello', name, '!')

hello pritesh !

That doen't look right. let's try to use string concatenation instead of commas to fix the position of the exclamation mark

In [ ]:
print('hello', name + '!')

hello pritesh!

that isn't right as all the inputs received from the input() funciton are string

In [ ]:
type(age)

str

if we want to perform any arithmetic on our age variable we will need to typecast it to a numberic type

In [ ]:
age_after_six_years = int(age) + 6

In [ ]:
age_after_six_years

32

In [ ]:
#printing the age of the user with a message
print('hello' , name + '! After six years, you will be', str(age_after_six_years)+ '!')

hello pritesh! After six years, you will be 32!

looks like we're running into the same issue as before with the exciamation mark. let's convert it back into a string

In [ ]:
name = input('what is your name')
age = int(input('how old are you'))

what is your namepritesh
how old are you26

In [ ]:
print('hello', name + '! After six years, you will', str(age+6)+ '!')

hello pritesh! After six years, you will 32!

if we don't want to use name and age again, we could simplify this even further by not assigning these valuse to any variables

In [ ]:
print('hello',input('what is your name?')+ '! After six yoru, you will be',str(int(input('How old are you? '))+6)+ '!')

what is your name?pritesh
How old are you? 26
hello pritesh! After six yoru, you will be 32!

let's try something else. Let's try to check if the user inputs anything. if they do,we print True and if not, we print false

In [12]:
something = input('say something!')

say something!

In [13]:
something

''

In [14]:
print('Did the user say something? answer: ',bool(something))

Did the user say something? answer:  False

let's ask the user fo their age again, this time accepting decimals. we will tell them their age back in year months and days. to keep thing simple. let's assume that a month has 30 days

In [27]:
age = float(input('how old are you?'))

how old are you?12

In [30]:
months = (age - int(age)) * 12
days = (months - int(months)) * 30

In [31]:
print('Hello! you are', int(age), 'year,', int(months),'months and ' , int(days), 'day old!')

Hello! you are 12 year, 0 months and  0 day old!

In [32]:
months

0.0

In [33]:
days

0.0

In [34]:
# Ask user to enter age
age = float(input("Enter your age (example: 25.75): "))

# Calculate years
years = int(age)

# Calculate remaining months
months_fraction = (age - years) * 12
months = int(months_fraction)

# Calculate remaining days
days = int((months_fraction - months) * 30)

# Print the result
print(f"\nYou are {years} years, {months} months, and {days} days old.")

Enter your age (example: 25.75): 25.75

You are 25 years, 9 months, and 0 days old.

In [35]:
age = float(input("Enter your age (example: 25.75): "))

Enter your age (example: 25.75): 25.75

In [36]:
months_fraction = (age - years) * 12

In [37]:
months_fraction

9.0

In [38]:
#assu
These are **augmented assignment operators** in Python. They perform an operation and then assign the result back to the variable in one step.

Hereâ€™s what each one does with examples:

---

### ðŸŸ© 1. **Assign (`=`)**

Assigns a value to a variable.

```python
x = 5   # x is now 5
```

---

### ðŸŸ¨ 2. **Add and Assign (`+=`)**

Adds and then assigns the result.

```python
x = 5
x += 3   # x = x + 3 â†’ x becomes 8
```

---

### ðŸŸ¥ 3. **Subtract and Assign (`-=`)**

Subtracts and then assigns the result.

```python
x = 8
x -= 2   # x = x - 2 â†’ x becomes 6
```

---

### ðŸŸ¦ 4. **Multiply and Assign (`*=`)**

Multiplies and then assigns the result.

```python
x = 6
x *= 2   # x = x * 2 â†’ x becomes 12
```

---

### ðŸŸ§ 5. **Divide and Assign (`/=`)**

Divides and then assigns the result (returns float).

```python
x = 12
x /= 3   # x = x / 3 â†’ x becomes 4.0
```

---

### ðŸŸ« 6. **Floor Divide and Assign (`//=`)**

Performs floor division and assigns the result (ignores remainder).

```python
x = 10
x //= 3   # x = x // 3 â†’ x becomes 3
```

---

### â¬› 7. **Modulus and Assign (`%=`)**

Finds the remainder and assigns it.

```python
x = 10
x %= 3   # x = x % 3 â†’ x becomes 1
```

---

### ðŸŸª 8. **Exponentiate and Assign (`**=`)**

Raises to the power and assigns the result.

```python
x = 2
x **= 3   # x = x ** 3 â†’ x becomes 8
```

---

Let me know if youâ€™d like a practice quiz or exercises on this!

SyntaxError: invalid character 'â€™' (U+2019) (<ipython-input-38-3f6a7daf7de5>, line 4)